
    <h1>Show Finder</h1>
    <article class="search form">
        <p>
            This website will allow you to search for TV shows. Use the search form below.
            I personally like anime shows. They exist here!
        </p>
        <h2>
            TV Show Form:
        </h2>
        <form action="/searchshows" method="POST" class="searching" id="form">
        <label for="search">Search for a TV Show:</label>
        
        <input type="text" id="search" name="showSearchTerm" 
        placeholder="Type here! (ie: batman, one piece, spongebob)" class="full-width-input" size="37">

        <button id="button" type="submit">SEARCH</button>
        </form>
    </article>
