
    <article class="prime form">
        <p>
            I LOVE PRIME NUMBERS!
        </p>
        <h2>
            PRIME NUMBER INPUTTER:
        </h2>

        <div id="error" class="error" hidden></div>
        <p id="errp"></p>
        <form method="POST" class="prime" id="myForm">
        <label for="text_input">Enter a valid number (excludes -1, 0, 1, and non-integers):
            <input type="number" id="text_input" name="number" placeholder="NUMBER">
        </label>
        <button id="button" type="submit">ENTER</button>
        </form>
        <br>
        <br>
        <br>
        
        <h3>Here is the list so far:</h3>
        <ul id="list" ></ul>
    </article>

<script src="public/js/main.js"></script>
