<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset = "utf-8">
        <link rel="stylesheet" href="/public/css/main.css">
        <title>Prime Number Checker</title>
    </head>

    <body>
        <header>
            <h1>PRIME NUMBER LISTER</h1>
        </header>
            <main>{{{body}}}</main>
    <footer>
        <h4>Created by Eric Song</h4>
        <h4>My CWID is 10458313</h4>
    </footer>
</body>
</html>
